<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="editprofile" routerLinkActive="active">Edit Profile </a>
            <a mat-list-item routerLink="changepassword" routerLinkActive="active"> Change password </a>
            <a mat-list-item routerLink="post_greivance" routerLinkActive="active"> Post Greivance </a>
            <a mat-list-item routerLink="my_greivance" routerLinkActive="active"> My Greivance </a>
        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>